2016-2017/Web Services/netbeans/servletClient/src/conf/xml-resources/web-service-references/CRUD_BOOK/wsdl/localhost_8080/CRUD_BOOK/CRUD_BOOK.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="CRUD_BOOK">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8080/CRUD_BOOK/CRUD_BOOK?xsd=1"/>
</xsd:schema>
</types>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<message name="updateBook">
<part name="parameters" element="tns:updateBook"/>
</message>
<message name="updateBookResponse">
<part name="parameters" element="tns:updateBookResponse"/>
</message>
<message name="displayBook">
<part name="parameters" element="tns:displayBook"/>
</message>
<message name="displayBookResponse">
<part name="parameters" element="tns:displayBookResponse"/>
</message>
<message name="removeBook">
<part name="parameters" element="tns:removeBook"/>
</message>
<message name="removeBookResponse">
<part name="parameters" element="tns:removeBookResponse"/>
</message>
<portType name="CRUD_BOOK">
<operation name="addBook">
<input wsam:Action="http://soap/CRUD_BOOK/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://soap/CRUD_BOOK/addBookResponse" message="tns:addBookResponse"/>
</operation>
<operation name="updateBook">
<input wsam:Action="http://soap/CRUD_BOOK/updateBookRequest" message="tns:updateBook"/>
<output wsam:Action="http://soap/CRUD_BOOK/updateBookResponse" message="tns:updateBookResponse"/>
</operation>
<operation name="displayBook">
<input wsam:Action="http://soap/CRUD_BOOK/displayBookRequest" message="tns:displayBook"/>
<output wsam:Action="http://soap/CRUD_BOOK/displayBookResponse" message="tns:displayBookResponse"/>
</operation>
<operation name="removeBook">
<input wsam:Action="http://soap/CRUD_BOOK/removeBookRequest" message="tns:removeBook"/>
<output wsam:Action="http://soap/CRUD_BOOK/removeBookResponse" message="tns:removeBookResponse"/>
</operation>
</portType>
<binding name="CRUD_BOOKPortBinding" type="tns:CRUD_BOOK">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CRUD_BOOK">
<port name="CRUD_BOOKPort" binding="tns:CRUD_BOOKPortBinding">
<soap:address location="http://localhost:8080/CRUD_BOOK/CRUD_BOOK"/>
</port>
</service>
</definitions>